body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-orange{
    color: orange;
}
.top-banner{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-item{
    display: flex;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 40px;
}
.half-width img{
    width: 100%;
}
.linked-button{
    text-decoration: none;
    background-color:tomato;
    padding: 10px 30px;
    border-radius: 5px;
    color:black;
}
.flexable-container{
    display: flex;
}
h2{
    size: 40px;
}
h3{
    color:orange;
    si
}
.box-container{
    box-shadow: 10px 10px 40px black;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 20px;
    
}
.experience-iteam{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-wap{
    border-radius: 10px;
    border-left: 10px blue;
}
#full-stack{
    border-radius: 10px;
    border-left:10px tomato;}

footer p{
    text-align: center;

}
footer{
    margin-top: 60px;
}